@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
}

.login-container{
  background: #ffd7d7;
}

.btn-primary{
  @apply text-white w-full shadow-sm self-stretch border border-transparent rounded-lg p-2 bg-[#ff6c6c] hover:text-[#ff6c6c] hover:border-[#ff6c6c] hover:bg-transparent
}
.signin-seperator::before, .signin-seperator::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ff6c6c;
}